<!--Cargar el titulo de la entrada-->


<div class="row">
    <div class="col-sm-12 text-center">
        <div>
            <h1>Administración de los Contextos de {{entrada.entrada}} </h1>
        </div>
    </div>
</div>
<!--FORMULARIO PARA CONTEXTO-->


<div class="panel panel-primary">
    <div class="panel-heading">Crear Contexto</div>
    <div class="panel-body">
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        
        <form ng-submit="crearContexto()">
            <div class="form-group">
                <label>Utilización : </label>
                <input class="form-control" type="text" ng-model="nuevaContexto.utilizacion" required> </div>
            <div class="form-group">
                <label>Etiqueta Morfológica : </label>
                <input class="form-control" type="text" ng-model="nuevaContexto.etiquetaMorfologica" required> </div>
            <div class="form-group">
                <label>Contexto : </label>
                <input class="form-control" type="text" ng-model="nuevaContexto.contextoUtilizacion" required> </div>
            <div class="form-group">
                <label>Definición: </label>
                <input class="form-control" type="text" ng-model="nuevaContexto.definicion" required> </div>
            <br>
            <button class="btn btn-block btn-success" ng-disabled="botonCrearDeshabilitado" type="submit">Crear Contexto</button>
        </form>
    </div>
    <div class="col-sm-4">
    </div>
</div>
    </div>
</div>
<!--LISTAR LOS CONTEXTOS-->
<br>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">Lista de Contextos</div>
    <div class="panel-body">

<div class="row">
     
    <div class="col-sm-4 text-left" ng-repeat="contexto in contextos" ng-init="contexto.mostrar = true">
        <div ng-show="contexto.mostrar">
        <p>Utilización:{{contexto.utilizacion}}</p><p> Etiqueta Morfologica: {{contexto.etiquetaMorfologica}}</p>
        <p>Contexto: {{contexto.contextoUtilizacion}} </p>
        <p>Definición: {{contexto.definicion}}</p>
        <a class="btn btn-block btn-warning" ng-click="contexto.mostrar = !contexto.mostrar">Editar Contexto</a> <a class="btn btn-block btn-danger" ng-click="eliminarContexto(contexto)">Eliminar Contexto</a> 
        </div>
        
<!--Editar CONTEXTO DENTRO DEL NG-REPEAT-->
            <div ng-hide="contexto.mostrar">
                <form ng-submit="editarContexto(contexto)">
                    <div class="form-group">
                        <br>
                        <br>
                        <label>Utilización : </label>
                        <input class="form-control" type="text" ng-model="contexto.utilizacion" required> </div>
                    <div class="form-group">
                        <label>Etiqueta Morfológica : </label>
                        <input class="form-control" type="text" ng-model="contexto.etiquetaMorfologica" required> </div>
                    <div class="form-group">
                        <label>Contexto : </label>
                        <input class="form-control" type="text" ng-model="contexto.contextoUtilizacion" required> </div>
                     <div class="form-group">
                        <label>Definición : </label>
                        <input class="form-control" type="text" ng-model="contexto.definicion" required> </div>
                    <br>
                    <button class="btn btn-block btn-info" ng-disabled="botonCrearDeshabilitado" type="submit">Actualizar</button>
                </form>
                <button class="btn btn-block" ng-disabled="botonCrearDeshabilitado" ng-click="contexto.mostrar = !contexto.mostrar">Cancelar</button>
            </div>
        
        
    </div>
    
</div>
    </div>
</div>
<br>
<br>
<br>


<div class="row">
    <div class="col-sm-12 text-center">
        <div>
            <h1>Administración de los Ejemplos de {{entrada.entrada}} </h1>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Crear Ejemplo</div>
    <div class="panel-body">

<div class="row">
    <!--FORMULARIO PARA EJEMPLOS-->
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <form ng-submit="crearEjemplo()">
            <div class="form-group">
                <label>Ejemplo : </label>
                <input class="form-control" type="text" ng-model="nuevaEjemplo.ejemplo" required> </div>
            
            <br>
            <button class="btn btn-block btn-success" ng-disabled="botonCrearDeshabilitado" type="submit">Crear Ejemplo</button>
        </form>
    </div>
    <div class="col-sm-4">
    </div>
</div>
</div>
    </div>
</div>

<br>
<br>


<!--LISTAR LOS EJEMPLOS-->

<div class="panel panel-primary">
    <div class="panel-heading">Lista de Ejemplos</div>
    <div class="panel-body">

<div class="row">
     
    <div class="col-sm-4 text-left" ng-repeat="ejemplo in ejemplos" ng-init="ejemplo.mostrar = true">
        <div ng-show="ejemplo.mostrar">
        <p>Ejemplo:{{ejemplo.ejemplo}}</p>        
        <a class="btn btn-block btn-warning" ng-click="ejemplo.mostrar = !ejemplo.mostrar">Editar</a> <a class="btn btn-block btn-danger" ng-click="eliminarEjemplo(ejemplo)">Eliminar Contexto</a> 
            <br>
                <br>
        </div>
        
<!--Editar EJEMPLO DENTRO DEL NG-REPEAT-->
            <div ng-hide="ejemplo.mostrar">
                <form ng-submit="editarEjemplo(ejemplo)">
                    <div class="form-group">
                        <br>
                        <br>
                        <label>Ejemplo : </label>
                        <input class="form-control" type="text" ng-model="ejemplo.ejemplo" required> </div>
                    <br>
                    <button class="btn btn-block btn-info" ng-disabled="botonCrearDeshabilitado" type="submit">Actualizar</button>
                </form>
                <button class="btn btn-block" ng-disabled="botonCrearDeshabilitado" ng-click="ejemplo.ejemplo = !ejemplo.ejemplo">Cancelar</button>
                <br>
                <br>
            </div>
        
        
    </div>
    
</div>
    </div>
</div>