<div class="row">
    <!--   ng-repeat="SingularArreglo in ARREGLO"-->
    <div class="col-sm-6 text-left">
        <div>
            <h1>{{entrada.entrada}} </h1>
            <p>Inlfexión: {{entrada.inflexion}}</p>
            <p>Palabra Compuesta: {{entrada.palabraCompuesta}}</p>
        </div>
    </div>
</div>


<div class="row">
    
    <div class="col-sm-12 text-left" ng-repeat="contexto in contextos">
        <h3>Definiciones</h3>
        <p>{{contexto.utilizacion}} Etiqueta Morfologica: {{contexto.etiquetaMorfologica}}</p>
        <p>Contexto: {{contexto.contextoUtilizacion}} </p>
        <p>Definición: {{contexto.definicion}}</p>
    </div>
</div>

<div class="row">
    
    <div class="col-sm-12 text-left" ng-repeat="ejemplo in ejemplos">
        <h3>Ejemplos</h3>
        <p>1  {{ejemplo.ejemplo}}</p>
    </div>
</div>