<div class="row">
    
        <div class="form-group text-center"> <img src="imagenes/logo.png" alt="Imagen de un diccionario" class="img-thumbnail">
            <h1 class="text-success">Bienvenido</h1> </div>
        <div class="form-group text-center" onload="document.getElementById('cuadroBusqueda').focus();">
            <label for="cuadroBusqueda"><h2>Ingrese una palabra:</h2></label>
            <input id="cuadroBusqueda" class="form-control" type="text" required ng-model="parametro" autofocus> </div>
        <br>
        
        <div class="panel panel-default">
    <div class="panel-heading">Lista de Entradas</div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-4 text-center" ng-repeat="entrada in entradas | filter:parametro" ng-init="entrada.mostrar = true">
                <div ng-show="entrada.mostrar" id="tituloEntrada">{{entrada.entrada}} <br> <a class="btn btn-block btn-info" href="#/busqueda/{{entrada.id}}">Buscar</a><br><br></div>
            </div>
        </div>
            </div>
        </div>
        <script>
        
        Mousetrap.bind('4', function() { console.log('4'); });
          document.getElementById("cuadroBusqueda").focus();
    </script>
        
    </div>
    
